out
.classpath
.project
.settings
generated-src
build
target
bin
temp
.gradle
.couscous
couscous.phar
.okhttpcache
.idea
classes
*.iml
.vscode
.sdkmanrc

/.nb-gradle/
*.received.txt
tmptestfile-*
.approval_tests_temp

