= Git Changelog changelog =

Changelog of Git Changelog.

{{#tags}}
== {{name}} ==
{{#hasIssue}}
=== {{name}} [{{link}} {{issue}}] ===
{{/hasIssue}}
{{^hasIssue}}
=== {{name}} ===
{{/hasIssue}}
 {{#issues}}

   {{#commits}}
[https://github.com/tomasbjerre/git-changelog-lib/commit/{{hash}} {{hash}}] {{authorName}} {{commitTime}}

{{{message}}}


   {{/commits}}
 {{/issues}}
{{/tags}}




{{#tags}}
== {{name}} ==
 {{#issues}}
  {{#hasIssue}}
=== {{name}} [{{link}} {{issue}}] ===
  {{/hasIssue}}
  {{^hasIssue}}
=== {{name}} ===
  {{/hasIssue}}

   {{#commits}}
[https://github.com/tomasbjerre/git-changelog-lib/commit/{{hash}} {{hash}}] {{authorName}} {{commitTime}}

{{{message}}}


  {{/commits}}

 {{/issues}}
{{/tags}}
