__NOTOC__

= Git Changelog changelog =
Changelog of Git Changelog.

{{#tags}}
== {{name}} ==
 {{#issues}}
  {{#hasLink}}
=== {{name}} [{{link}} {{issue}}] ===
  {{/hasLink}}
  {{^hasLink}}
=== {{name}} ===
  {{/hasLink}}

   {{#commits}}
[https://github.com/tomasbjerre/git-changelog-lib/commit/{{hash}} {{hash}}] {{authorName}} {{commitTime}}

{{{message}}}


  {{/commits}}

 {{/issues}}
{{/tags}}
