# Changelog

{{#tags}}
{{#ifReleaseTag .}}
## [{{name}}](https://gitlab.com/html-validate/html-validate/compare/{{name}}) ({{tagDate .}})

	{{#ifContainsBreaking commits}}
### Breaking changes

		{{#commits}}
			{{#ifCommitBreaking . }}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://gitlab.com/html-validate/html-validate/commit/{{hashFull}}))
			{{/ifCommitBreaking}}
		{{/commits}}
	{{/ifContainsBreaking}}

	{{#ifContainsType commits type='feat'}}
### Features

		{{#commits}}
			{{#ifCommitType . type='feat'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://gitlab.com/html-validate/html-validate/commit/{{hashFull}}))
			{{/ifCommitType}}
		{{/commits}}
	{{/ifContainsType}}

	{{#ifContainsType commits type='fix'}}
### Bug Fixes

		{{#commits}}
			{{#ifCommitType . type='fix'}}
 - {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://gitlab.com/html-validate/html-validate/commit/{{hashFull}}))
			{{/ifCommitType}}
		{{/commits}}
	{{/ifContainsType}}

{{/ifReleaseTag}}
{{/tags}}