
Test template:

Tags:

{{#tags}}
 * {{.}}
{{/tags}}


Commits:

{{#commits}}
 * {{.}}
{{/commits}}


{{#tags}}
 {{name}} Unreleased ? {{#ifEquals name "Unreleased"}} ja {{else}} nej {{/ifEquals}}
{{/tags}}


## breaking changes:
 {{#ifContainsBreaking commits}}
  contains breaking changes
  {{#commits}}
   {{#ifCommitBreaking .}}
    is breaking: {{hash}} 
   {{/ifCommitBreaking}}
  {{/commits}}
 {{/ifContainsBreaking}}


## Footers
{{#commits}}
{{#ifCommitHasFooters}}
Has footers: {{hash}} 
{{/ifCommitHasFooters}}
{{#eachCommitFooter .}}
 - "{{token}}"
```
{{#ifFooterHasValue .}}
----footer-value-begins----
{{{value}}} 
----footer-value-ends---
{{/ifFooterHasValue}}
```

{{/eachCommitFooter}}
{{/commits}}


## Paragraphs
{{#commits}}
{{#ifCommitHasParagraphs}}
Has paragraphs: {{hash}} 
{{/ifCommitHasParagraphs}}
```
{{#eachCommitParagraph .}}
----paragraph-begins----
{{{.}}}
----paragraph-ends---
```


{{/eachCommitParagraph}}
{{/commits}}


{{#tags}}
 tag: {{.}}
 {{#ifReleaseTag .}}
  "{{.}}" is a release tag
 {{/ifReleaseTag}}
 
 {{#ifContainsType commits type="fix"}}
  commits contains fix
 {{/ifContainsType}}

 date: {{tagDate .}} 
 
{{/tags}}


{{#commits}}
 Commit: {{.}}
 date: {{commitDate .}} 

 {{#ifCommitType . type="revert"}} is type revert {{/ifCommitType}}
 {{#ifCommitType . type="fix"}} is type fix {{/ifCommitType}}
 {{#ifCommitType . type=""}} commit has no type {{/ifCommitType}}
 {{#ifCommitType . type="fix|revert"}} commit has type fix or revert {{/ifCommitType}}

 {{#ifCommitScope . scope="utils"}} is scope utils {{/ifCommitScope}}

 {{#eachCommitScope .}}
  scope: {{.}}
 {{/eachCommitScope}}

 description: {{commitDescription .}}
 
 {{#ifCommitType . type="revert"}}
   this reverted commit: {{revertedCommit .}}
 {{/ifCommitType}}
 
 {{#eachCommitRefs .}}
  ref: {{.}}
 {{/eachCommitRefs}}

 {{#eachCommitFixes .}}
  fix: {{.}}
 {{/eachCommitFixes}}


{{/commits}}


