# Git Changelog changelog

Changelog of Git Changelog.

{{#issues}}
{{#hasLink}}
## {{name}} [{{issue}}]({{link}})
{{/hasLink}}
{{^hasLink}}
## {{name}}
{{/hasLink}}
  {{#authors}}
### {{authorName}}
   {{#commits}}
{{commitTime}}
{{{message}}}

   {{/commits}}

  {{/authors}}
{{/issues}}