# Git Changelog changelog

Changelog of Git Changelog.

{{#tags}}
## {{name}}{{#hasTagTime}} ({{tagTime}}){{/hasTagTime}}
{{annotation}}
 {{#commits}}
### {{authorName}} - {{commitTime}}
[{{hash}}](https://server/{{hash}})

{{{message}}}

 {{/commits}}
{{/tags}}
