# Git Changelog changelog

Changelog of Git Changelog.

{{#tags}}
## {{name}}
{{annotation}}
 {{#commits}}
### {{authorName}} - {{commitTime}}
[{{hash}}](https://server/{{hash}})

{{{message}}}

 {{/commits}}
{{/tags}}
