{{#tags}}
## {{name}}

{{#ifContainsIssueType issues type='Bug'}}
{{#issues}}
{{#ifIssueType . type='Bug'}}
### Bugs
{{name}}
{{hasType}} {{type}}
isGitHub: {{isGitHub}}
isGitLab: {{isGitLab}}
isJira: {{isJira}}
isRedmine: {{isRedmine}}
isCustom: {{isCustom}}
isNoIssue: {{isNoIssue}}

{{/ifIssueType}}
{{/issues}}
{{/ifContainsIssueType}}
{{#ifContainsIssueTypeOtherThan issues type='Bug'}}
{{#issues}}
{{#ifIssueTypeOtherThan . type='Bug'}}
### Other issues
{{name}}
{{hasType}} {{type}}
isGitHub: {{isGitHub}}
isGitLab: {{isGitLab}}
isJira: {{isJira}}
isRedmine: {{isRedmine}}
isCustom: {{isCustom}}
isNoIssue: {{isNoIssue}}

{{/ifIssueTypeOtherThan}}
{{/issues}}
{{/ifContainsIssueTypeOtherThan}}
{{/tags}}
