{{#tags}}
## {{name}}
{{#issues}}

{{name}}
{{hasType}} {{type}}
isGitHub: {{isGitHub}}
isGitLab: {{isGitLab}}
isJira: {{isJira}}
isRedmine: {{isRedmine}}
isCustom: {{isCustom}}
isNoIssue: {{isNoIssue}}

{{/issues}}
{{/tags}}
