# Git Changelog changelog

Changelog of Git Changelog.

{{#issues}}
  {{#ifIssueHasAdditionalField . key="customfield_10000"}}
## {{name}} {{title}} {{issueAdditionalField . key="customfield_10000"}} has customfield_10000
  {{/ifIssueHasAdditionalField}}
  {{#ifIssueDoesNotHasAdditionalField . key="customfield_10000"}}
## {{name}} {{title}} {{issueAdditionalField . key="customfield_10000"}} does not have customfield_10000
  {{/ifIssueDoesNotHasAdditionalField}}
  {{#ifIssueHasAdditionalField . key="customfield_10001"}}
## {{name}} {{title}} has customfield_10001
  {{/ifIssueHasAdditionalField}}
  {{#ifIssueDoesNotHasAdditionalField . key="customfield_10001"}}
## {{name}} {{title}} does not have customfield_10001
  {{/ifIssueDoesNotHasAdditionalField}}
  {{#ifIssueHasAdditionalField . key="customfield_10002"}}
## {{name}} {{title}} has customfield_10002
  {{/ifIssueHasAdditionalField}}
  {{#ifIssueDoesNotHasAdditionalField . key="customfield_10002"}}
## {{name}} {{title}} does not have customfield_10002
  {{/ifIssueDoesNotHasAdditionalField}}
  {{#hasAdditionalFields}}
### We have additional fields
  {{/hasAdditionalFields}}  
  {{^hasAdditionalFields}}
### We do not have additional fields
  {{/hasAdditionalFields}}
  {{#additionalFields}}
    {{#entrySet}}
#### for key "{{key}}" we have value "{{value}}"
    {{/entrySet}}
  {{/additionalFields}}  
{{/issues}}
