# Git Changelog changelog

Changelog of Git Changelog.

{{#tags}}
## {{name}}
{{annotation}}
 {{#issues}}
  {{#hasLink}}
### {{name}} [{{issue}}]({{link}}) {{title}}
  {{/hasLink}}
  {{^hasLink}}
### {{name}} {{title}}
  {{/hasLink}}
   {{#commits}}
[{{hash}}](https://server/{{hash}}) {{commitTime}}
{{{message}}}

   {{/commits}}
 {{/issues}}
{{/tags}}